
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    overflow-y: hidden;
}

.our-team img {
    width: 700px;
    height: auto;
    border-radius: 20px;
}

.our-team {
    align-items: right;
    justify-content: right;
    display: inline-block;
    position: relative;
    left: 7%;
    transform: translateX(10%);
}

.title{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: start;
    position: relative;
    top: 6rem;
    left: 6rem;
}

.meet{
    font-size: 50px;
}

.our-team_text{
    font-size: 60px;
}

.our-team_text img{
    width: 60px;
    height: auto;
    position: relative;
    top: 5px;
}

.body-text{
    width: 1132px;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5;
    margin: auto;
    width: 30%;
    text-align:start;
    overflow-wrap: break-word;
    display: inline-block;
    position: relative;
    left: 6.1rem;
    bottom: 3rem;
}

.authors{
    position:relative;
    top: 4rem;
}   


.authors img{
    width: 150px;
    height: auto; 
    border-radius: 100%;
    position:relative;
    display: inline-block;
}   

    
.author1{   
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 6.1rem;
}


.line1{
    width: 321px;
    height: 2px;
    background: #5A5A5A;;
    position: relative;
    left: 260px;
    bottom: 60px;
}

.name1{
    color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 750;
    overflow-wrap: break-word;
    position: relative;
    left: 260px;
    bottom: 90px;
}

.author2{   
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 6.1rem;
}


.line2{
    width: 321px;
    height: 2px;
    background: #5A5A5A;;
    position: relative;
    left: 260px;
    bottom: 60px;
}

.name2{
    color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 750;
    overflow-wrap: break-word;
    position: relative;
    left: 260px;
    bottom: 90px;
}

.author3{   
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 6.1rem;
}


.line3{
    width: 321px;
    height: 2px;
    background: #5A5A5A;;
    position: relative;
    left: 260px;
    bottom: 60px;
}

.name3{
    color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 750;
    overflow-wrap: break-word;
    position: relative;
    left: 260px;
    bottom: 90px;
}

.author4{   
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 6.1rem;
}


.line4{
    width: 321px;
    height: 2px;
    background: #5A5A5A;;
    position: relative;
    left: 260px;
    bottom: 60px;
}

.name4{
    color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 750;
    overflow-wrap: break-word;
    position: relative;
    left: 260px;
    bottom: 90px;
}

.one{
    margin-bottom: 3rem;
}

.two{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.three{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.four{
    margin-bottom: 3rem;
    margin-TOP: -1.7rem;
}

 @media(max-width:600px){
    
    .title{
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: start;
        position: relative;
        top: 7rem;
        overflow: hidden;
        

    }

    .body-text{
        width: 1132px;
        color: #777777;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: 1.5;
        margin: auto;
        width: 80%;
        text-align:start;
        overflow-wrap: break-word; 
        position: relative;
        top: 6rem;
        left: 4.8%;
        transform: translateX(4.8%);
    }

    .our-team img{
        width: 80%;
        height: auto;
        align-items: center;
        position: relative;
        bottom: 200px;
        right: 50%;
        transform: translateX(50%);
        border-radius: 20px;
        margin-top: 23rem;
    }

    .title{
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: start;
        position: relative;
        top: 4rem;
        left: 2rem;
    }
    .our-team_text{
        font-size: 70px;
    }

    .meet{
        font-size: 60px;
    }

    .authors{
        position: relative;

    }
    .author1 img{ 
        width: 20%;   
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;
    }

    .line1{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 17rem;
        bottom: 3rem;
    }

    .name1{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 17rem;
        bottom: 4.3rem;
    }


    .author2 img{
        width: 20%; 
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;    
    }

    .line2{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 17rem;
        bottom: 3rem;
    }

    .name2{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 17rem;
        bottom: 4.3rem;
    }


    .author3 img{ 
        width: 20%;  
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;
    }

    .line3{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 17rem;
        bottom: 3rem;
    }

    .name3{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 17rem;
        bottom: 4.3rem;
    }


    .author4 img{   
        width: 20%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;
    }

    .line4{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 17rem;
        bottom: 3rem;
    }

    .name4{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 17rem;
        bottom: 4.3rem;
    }

    .authors{
        position: relative;
        top: -1rem;
    }

    .one{
        margin-bottom: 3rem;
        margin-left: -6rem;
    }
    
    .two{
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: -6rem;
    }
    
    .three{
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: -6rem;
    }
    
    .four{
        margin-top: -1.8rem;
        margin-bottom: 3rem;
        margin-left: -6rem;
    }
}

@media(min-width:600px) and (max-width:900px){
    
    .title{
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: start;
        position: relative;
        top: 7rem;
        z-index: -1;
        overflow: hidden;
    }

    .body-text{
        width: 1132px;
        color: #777777;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: 1.5;
        margin: auto;
        width: 80%;
        text-align:start;
        overflow-wrap: break-word; 
        position: relative;
        top: 6rem;
        left: 4.8%;
        transform: translateX(4.8%);
    }

    .our-team img{
        width: 80%;
        height: auto;
        align-items: center;
        position: relative;
        bottom: 200px;
        right: 50%;
        transform: translateX(50%);
        border-radius: 20px;
        margin-top: 23rem;
    }

    .title{
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: start;
        position: relative;
        top: 4rem;
        left: 2rem;
    }
    .our-team_text{
        font-size: 70px;
    }

    .meet{
        font-size: 60px;
    }

    .authors{
        position: relative;

    }
    .author1 img{ 
        width: 15%;   
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;
    }

    .line1{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 19rem;
        bottom: 3rem;
    }

    .name1{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 19rem;
        bottom: 4.3rem;
    }


    .author2 img{
        width: 15%; 
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;    
    }

    .line2{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 19rem;
        bottom: 3rem;
    }

    .name2{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 19rem;
        bottom: 4.3rem;
    }


    .author3 img{ 
        width: 15%;  
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;
    }

    .line3{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 19rem;
        bottom: 3rem;
    }

    .name3{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 19rem;
        bottom: 4.3rem;
    }


    .author4 img{   
        width: 15%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: 2rem;
    }

    .line4{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        left: 19rem;
        bottom: 3rem;
    }

    .name4{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 19rem;
        bottom: 4.3rem;
    }

    .authors{
        position: relative;
        top: -1rem;
    }

    .one{
        margin-bottom: 3rem;
        margin-left: -6rem;
    }
    
    .two{
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: -6rem;
    }
    
    .three{
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: -6rem;
    }
    
    .four{
        margin-top: -1.8rem;
        margin-bottom: 3rem;
        margin-left: -6rem;
    }
}