
html, body {
    max-width: 100%;
    overflow-x: hidden;
    user-select: none;
}

img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.headline {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 0;
}

.title{
    width: 1132px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align:start;
    padding-left: 2rem;
    overflow-wrap: break-word;

}

.lead{
    width: 1132px;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5;
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align:start;
    padding-left: 2rem;
    overflow-wrap: break-word;
}

.author-img img{
    width: 100px;
    height: auto; 
    border-radius: 100%;
    position:relative;
    left: 230px; 
    top: 10px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.line1{
    width: 321px;
    height: 2px;
    background: #5A5A5A;;
    position: relative;
    left: 350px;
    bottom: 40px;
}

.date{
    position: relative;
    left: 350px;
    bottom: 45px;
    color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 750;
}

.name{
    color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 750;
    overflow-wrap: break-word;
    position: relative;
    left: 350px;
    bottom: 70px;
}

.line2{
    width: 75%;
    height: 1px;
    background: #5A5A5A;;
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.cover-image{
    width: 70%;
    height: auto;
    border-radius:20px;
    margin: auto;
    padding-top: 300px;
    text-align: center;
    position: relative;
    bottom: 200px;
}

.subtitles{
    font-weight: 800;
    margin-top: 50px;
}

.text{
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 200;
    line-height: 1.5;
    margin: auto;
    width: 60%;
    text-align:start;
    padding-left: 2rem;
    overflow-wrap: break-word;
    position: relative;
    bottom: 10rem;
}

@media screen and (max-width:767px){
    img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    
    .title{
        width: 1132px;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 750;
        line-height: normal;
        margin: auto;
        width: 100%;
        padding: 10px;
        text-align:start;
        padding-left: 2rem;
        overflow-wrap: break-word;
    
    }

    .lead{
        width: 1132px;
        color: #777777;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: 1.5;
        margin: auto;
        width: 100%;
        padding: 10px;
        text-align:start;
        padding-left: 2rem;
        overflow-wrap: break-word;
    }
    
    .author-img img{
        width: 20%;
        height: auto; 
        border-radius: 100%;
        position:relative;
        left: 23px; 
        top: 10px;
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }

    .line1{
        width: 200px;
        height: 2px;
        background: #5A5A5A;;
        position: relative;
        left: 130px;
        bottom: 35px;
    }

    .name{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 130px;
        bottom: 60px;
    }
    
    .date{
        position: relative;
        left: 130px;
        bottom: 45px;
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 750;
    }

    .line2{
        width: 100%;
        height: 1px;
        background: #5A5A5A;;
        position: relative;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .cover-image{
        width: 90%;
        height: auto;
        border-radius:20px;
        margin: auto;
        padding-top: 300px;
        text-align: center;
        position: relative;
        bottom: 200px;
    }

    .text{
        color: #252525;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 200;
        line-height: 1.5;
        margin: auto;
        width: 90%;
        text-align:start;
        padding-left: 1rem;
        overflow-wrap: break-word;
        position: relative;
        bottom: 10rem;
    }
}

@media(min-width:600px) and (max-width:900px){
    img {
        width: 90%;
        height: auto;
        border-radius: 20px;
    }
    .title{
        width: 1132px;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        font-style: normal;
        font-weight: 750;
        line-height: normal;
        margin: auto;
        width: 100%;
        padding: 10px;
        text-align:start;
        padding-left: 1rem;
        overflow-wrap: break-word;
    
    }

    .lead{
        width: 1132px;
        color: #777777;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: 1.5;
        margin: auto;
        width: 100%;
        padding: 10px;
        text-align:start;
        padding-left: 2rem;
        overflow-wrap: break-word;
    }
    
    .author-img img{
        width: 15%;
        height: auto; 
        border-radius: 100%;
        position:relative;
        left: 23px; 
        top: 10px;
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }

        .line1{
            width: 200px;
        height: 2px;
        background: #5A5A5A;;
        position: relative;
        left: 200px;
        bottom: 35px;
    }

    .name{
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 750;
        overflow-wrap: break-word;
        position: relative;
        left: 200px;
        bottom: 60px;
    }
    
    .date{
        position: relative;
        left: 200px;
        bottom: 45px;
        color: rgb(29, 29, 29);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 750;
    }

    .line2{
        width: 90%;
        height: 1px;
        background: #5A5A5A;;
        position: relative;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .cover-image{
        width: 95%;
        height: auto;
        border-radius:20px;
        margin: auto;
        padding-top: 300px;
        text-align: center;
        position: relative;
        bottom: 200px;
    }

    .text{
        color: #252525;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 200;
        line-height: 1.5;
        margin: auto;
        width: 100%;
        text-align:start;
        padding-left: 1rem;
        overflow-wrap: break-word;
        position: relative;
        bottom: 10rem;
    }
}
