
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 1000vh;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin: auto;
}

.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-right: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.The-Bear{
    padding-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.hamburger{
    display: none;
    cursor: pointer;
     left: -50%;
    transform: translateX(-50%);
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3 ease;
    background-color: white;
}

#home{
    margin-top: 70px;
}

@media(max-width:1600px){
    .container{
        width: 100%;
    }
}

@media(max-width:1024px){
    .hamburger{
        display: block;
        
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 950;
    }

    .nav-item{
        margin: 16px 0;
        position: relative;
        left: 4%;
    transform: translateX(4%);
    z-index: 950;
    }

    .nav-menu.active{
        left: 0;
    }
}