.sorry{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 2rem;
}